---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main style="padding: 2rem; font-family: sans-serif;">
    <h1>你好，世界！🌍</h1>
    <p>这是我的第一个 Astro 作品集网页，拉斐尔与我同在 🐈。</p>
  </main>
</Layout>